#slider {
    width: 100%;
  }
  
  .slide {
    width: 100%;
    display: none;
    position: relative;
  }
  
  .slide img {
    width: 100%;
    height:700px;
  }
  
  .slide.active {
    display: block;
  }
